.card-content {
  width: 100%;
  min-height: 750px;
  background: url("/assets/img/Background-image/home-bg.jpg") top center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.card-container {
  margin-top: 40px;
  padding: 20px 20px; 
  opacity: 0.8;
}
.card:hover {
  transform: translatey(-5px) translatex(-5px) scale(1.05);
}

.card {
  cursor: pointer;
}